@import "css/responsive.scss"; //pour importer un fichier 
@import"css/variables.scss";
$couleur1: #9356DC;
$couleur2: #FF79DA;
$couleur3: #99E2D0;
$couleur4: rgb(175, 165, 165);
$danger: rgb(179, 77, 77);
$succes: rgb(154, 240, 154);
$padding: 10px;
$radius : 3px;


/* Faux sélecteurs */
%shaddow {box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);}
%btn {
    text-decoration: none;
    border-radius: $radius;
    padding: 5px 12px;
}
* {margin: 0;}
body{
    font-family: 'Roboto', sans-serif;
      
}
header{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    
}



.section_1{


}
.localisation {
    background: $couleur4;
}
.card {
    @extend %shaddow;
    padding: $padding;
    border-radius: $radius;
    &title {
    
    }
    &image {

    }
    &icon {
        
    }
}
.btn {
    @extend %btn;
    color:white;
    background: $primary;
    &:hover {
        background: darken($primary,10);
    }
    @media only screen and (max-width: 1200px){
        padding: $padding;
    }
}
.btn-danger {
    @extend .btn;
    background: $danger;
    &:hover {
        background :darken($danger,10);
    }
}
