@charset "UTF-8";
/* pour importer un fichier */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/* Fonctions */
.bloc-loader {
  z-index: 0;
  font-size: 40px;
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #9356DC;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
  position: relative;
}
.loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-top-color: #FFF;
  border-radius: 50px;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear 3;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

/*
.loader-double {
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    &::after {
        content: '';
        position: absolute;
        top: 5px; 
        left: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FFF;
        border-bottom-color: #FFF;
        opacity: 0.6;
        -moz-animation: spinreverse 2s linear infinite;
        -o-animation: spinreverse 2s linear infinite;
        -webkit-animation: spinreverse 2s linear infinite;
        animation: spinreverse 2s linear infinite;
    }
}
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes pagedisplay {
  0% {
    transform: opacity(0%);
  }
  100% {
    transform: opacity(100%);
  }
}
/* Faux sélecteurs */
.card, .fonctionnement__element {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

*, *::before, *::after {
  box-sizing: border-box;
  letter-spacing: 0.015em;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 300px;
}

/* Header */
header {
  height: 67px;
  padding: 0;
  margin: 0;
  position: relative;
}
header a {
  position: absolute;
  margin-left: 5%;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}

.titre1 {
  text-align: center;
  font-size: 1.8em;
  font-family: "Shrikhand", cursive;
  letter-spacing: 0;
}

.titre2 {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.titre3 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: bold;
}

.titre4 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.localisation {
  display: flex;
  justify-content: center;
  background: #e8e8e8;
  box-shadow: 0 2px 5px #c2c2c2 inset;
  font-size: 1em;
  font-weight: 500;
  padding: 15px;
}
.localisation span {
  margin-right: 15px;
}

/* Sections */
.sections {
  padding: 30px 5%;
  width: 100%;
}

.section1 {
  background: whitesmoke;
  text-align: center;
  height: 285px;
}

.section3 {
  background: whitesmoke;
}

.section4 {
  background: whitesmoke;
  border-radius: 40px 40px 0 0;
  transform: translateY(-22px);
}
.section4__entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section4 span {
  font-size: 1.5em;
}

.paragraphe {
  font-size: 1.07em;
  color: rgba(0, 0, 0, 0.7);
}

.bouton {
  text-decoration: none;
  border-radius: 30px;
  font-size: 1em;
  font-family: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 15px 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 450;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  position: relative;
  transition: all 300ms;
}
.bouton:hover {
  transition: all 300ms;
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* Section 2 */
.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement__element {
  background: whitesmoke;
  border-radius: 20px;
  padding: 25px 35px;
  margin-top: 25px;
  font-size: 1.1em;
  width: 97%;
  position: relative;
}
.fonctionnement__element .numero {
  font-size: 0.625em;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  padding: 3px 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fonctionnement__element .icone {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}
.fonctionnement__element .paragraphe {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  font-weight: 500;
}

/* Section 4 */
.foodmenu {
  width: 100%;
}
.foodmenu__titre {
  line-height: 25px;
  display: inline-block;
  position: relative;
}
.foodmenu__titre::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  height: 20px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.foodmenu__corps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-color: #fff;
  margin: 15px 0;
  border-radius: 15px;
  font-size: 0.9em;
}
.foodmenu__description {
  padding: 10px;
  width: 100%;
}
.foodmenu__description p:first-child {
  font-size: 1.25em;
  line-height: 25px;
  font-weight: 550;
}
.foodmenu__description p:nth-child(2) {
  line-height: 25px;
}
.foodmenu__prix {
  position: relative;
  width: 20%;
  padding: 10px;
  font-weight: bold;
  top: 50%;
}
.foodmenu__prix:hover + .foodmenu__bouton {
  display: block;
}
.foodmenu__bouton {
  width: 20%;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  display: none;
}
.foodmenu__bouton:hover {
  display: block;
}

.card {
  display: block;
  position: relative;
  height: 250px;
  margin-top: 20px;
  border-radius: 30px;
  overflow: hidden;
  color: black;
}
.card__image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate(0, -21%) scaleY(1);
  color: black;
}
.card__commentaire {
  position: absolute;
  right: 10%;
  top: 5%;
  padding: 6px 10px;
  background: #99E2D0;
  color: #278870;
  font-weight: 500;
  font-size: 0.9em;
}
.card__corps {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 16px 10px;
}
.card:visited {
  color: black;
}

.card:nth-child(3) .card__image {
  transform: translate(0, -35%) scaleY(1);
}

.bandeau {
  border-radius: 0;
  margin-top: 0;
}
.bandeau .card__image {
  transform: translate(0, -35) scaleY(1);
}

.icone {
  font-size: 1.5em;
  position: absolute;
  right: 5%;
  top: 10px;
  z-index: 1;
}
.icone:hover::after {
  opacity: 1;
}
.icone::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: yellow;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  display: inline-block;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
}
footer h3 {
  font-size: 1.1em;
  font-family: "Shrikhand", cursive;
  color: white;
}
footer .nav {
  display: flex;
  flex-direction: column;
}
footer .nav__actions, footer .nav__informations {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  margin-top: 10px;
}
footer .nav__actions {
  color: rgba(255, 255, 255, 0.95);
  font-weight: 450;
}
footer .nav__actions:hover, footer .nav__informations:hover, footer .nav__actions:visited, footer .nav__informations:visited {
  color: lighter(#fff, 80);
}
footer .nav .utensils::before, footer .nav .hands::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 16px;
  color: white;
  vertical-align: middle;
  margin-right: 10px;
}
footer .nav .utensils::before {
  background: url("../../images/utensils-solid.svg") center center/18px 16px no-repeat;
}
footer .nav .hands::before {
  background: url("../../images/hands-helping-solid.svg") center center/18px 16px no-repeat;
}

/*# sourceMappingURL=style.css.map */
