@import "./responsive.scss"; /* pour importer un fichier */
@import "./variables.scss";
@import "./mixins.scss";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


/* Faux sélecteurs */
%shaddow {box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)}
%btn {
    text-decoration: none;
    border-radius: $taille-px*3;
    font-size: $taille-em;
    font-family: inherit;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all $transition--duree;
    @include button-padding;
}
*, *::before, *::after {
    box-sizing: border-box;
    letter-spacing: 0.015em;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
}

/* Header */
header{ text-align: center;}
.titre1{
    font-size: $taille-em*1.8;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 0;
    @include titre1-padding;
}
.titre2 {
    font-size: $taille-em*1.4;
    font-weight: 600;
    letter-spacing: 0.04em;
}
.titre3 {
    font-size: $taille-em*1;
    margin-bottom: 5px;
    font-weight: bold;
}
.localisation {
    display: flex;
    justify-content: center;
    background: darken($couleur4,5);
    box-shadow: 0 2px 5px darken($couleur4,20) inset;
    font-size: $taille-em;
    font-weight: 500;
    padding: $taille-px*1.6;
    & .icone {
        padding-right: $taille-px;
    } 
}

/* Sections */
.sections {
    padding: $taille-px*4 5%;
}
.section1 {
    background: $couleur4;
    text-align: center;
    height: 285px;
    .paragraphe{
        font-size: $taille-em*1.07;
        padding-top: $taille-px;
        color:rgba(0, 0, 0, 0.7);
    }
    .bouton {
        @extend %btn;
        background: linear-gradient($couleur2, $couleur1);
        font-weight: 450;
        margin-top: $taille-px*4;
        color: rgba(255, 255, 255, .8);
        opacity: 1;
        &:hover { 
            transition: all 300ms;
            opacity: 0.7;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
        }
    }
}

/* Section 2 */
.presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    &__element {
        background: $couleur4;
        border-radius: $taille-px*2;
        padding: $taille-px*2.5 $taille-px*3.5;
        margin-top: 25px;
        font-size: $taille-em*1.1;
        width: 97%;
        @extend %shaddow;
        position: relative;
        .numero {
            font-size: $taille-em/1.6;
            border-radius: 50%;
            background: $couleur1;
            color:white;
            padding: 3px 8px;
            position: absolute;
            left:0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .icone {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .paragraphe {
            position: relative;
            display: inline-block;
            margin-left: 30px;
            font-weight: 500;
        }
    }
}

.section3 {
    background: $couleur4;
    .card {
        @extend %shaddow;
        display: block;
        position: relative;
        height: 270px;
        margin-top: $taille-px*2;
        border-radius: $taille-px*3;
        overflow: hidden;
        color:black;
        &__image {
            position: absolute;
            width: 100%;
            top:0;
            left: 0;
            transform: translate(0%,-35%) scaleY(.6);
            color:black;
            @media screen  and (max-width: 800px) {
                height: $taille-px*45;
            }
        }
        &__commentaire {
            position: absolute;
            right: 10%;
            top:5%;
            padding: ($taille-px)-4 $taille-px;
            background: $couleur3;
            color: darken($couleur3,40);
            font-weight: 500;
            font-size: $taille-em*0.9;
        }
        &__corps {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: white;
            padding: $taille-px+6 $taille-px;
        }
        &:visited {color: black;}
    }
    .icone {
        font-size: $taille-em*1.5;
        position: absolute;
        right: 5%;
        top: 10px;
        z-index:1;
        &:hover {
            &::after {opacity: 1;}
        }
        &::after {
            content: '\f004';
            position:absolute;
            top: 0;
            right : 0;
            bottom: 0;
            left: 0;
            color:yellow ;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            display: inline-block;
        }
    }

}



footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    h3 {
        font-size: $taille-em*1.1;
        font-family: 'Shrikhand', cursive;
        color: white;
    }
    .nav {
        display: flex;
        flex-direction: column;
        &__actions, &__informations{
            color:rgba(255, 255, 255, .8);
            text-decoration: none;
            margin-top: $taille-px;
        }
        &__actions{
            color:rgba(255, 255, 255, .95);
            font-weight:450;
        }
        &__actions:hover, &__informations:hover,
        &__actions:visited, &__informations:visited{
            color:lighter(#fff,80);
        }
    .utensils::before, .hands::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 16px;
        color: white;
        vertical-align: middle;
        margin-right: $taille-px;
    }
    .utensils::before{background: url('../../images/utensils-solid.svg') center center / 18px 16px no-repeat;}
    .hands::before {background: url('../../images/hands-helping-solid.svg') center center / 18px 16px no-repeat;}
    }
    
}
